#eyefind-header {
    background-color: #498bc2;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;

    #eyefind-header-container {
        width: 70%;
    }
}

#eyefind-main {
    display: flex;
    justify-content: center;

    #sites {
        width: 70%;
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
    }
}
