#eyefind-header {
    background-color: #498bc2;
    height: 240px;
    display: flex;
    align-items: center;
}

#eyefind-main {
    display: flex;
    justify-content: center;

    #sites {
        width: 1200px;
        padding: 50px 0;
        display: flex;
        justify-content: space-evenly;
    }
}
