#eyefind-header {
    background-color: #498bc2;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;

    #eyefind-header-container {
        width: 70%;
    }
}

#sep {
    height: 10px;
    width: 100%;
    background-color: #ffbe00;
}

#links {
    background-color: #efefef;
    height: 50px;
    border-bottom: solid #d0d0d0 2px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 20%;

    a {
        text-decoration: none;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-size: 16px;

        &:not(:last-child) {
            border-right: solid #d0d0d0 2px;
        }
    }
}

#eyefind-main {
    display: flex;
    justify-content: center;

    #sites {
        width: 70%;
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
    }
}
