#warstock-background {
    vertical-align: middle;
    aspect-ratio: 16 9;
}

#warstock-bar {
    height: 120px;
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    background-color: black;

    padding: 0 20%;

    #stocks {
        font-size: 30px;
    }
}
