@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Chalet;
    src: url("/Chalet.otf");
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Chalet;
}
